@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Bold.woff') format('opentype');
  font-weight: 700;
  font-style: normal;
};
@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Bold.woff') format('opentype');
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-ExtraLight.woff') format('opentype');
  font-weight: 200;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Heavy.woff') format('opentype');
  font-weight: 800;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Light.woff') format('opentype');
  font-weight: 300;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Medium.woff') format('opentype');
  font-weight: 500;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Normal.woff') format('opentype');
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: 'HanSans';
  src: url('@/static/fonts/SourceHanSansCN-Regular.woff') format('opentype');
  font-weight: 400;
  font-style: normal;
};